# Flake Report for the Last 4 Days

## Pull Request (#435)
<table>
  <thead>
    <tr>
      <th>Commit</th>
      <th>Flaky Check</th>
      <th>Runs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Example Commit</td>
      <td>Pytest (ubuntu)</td>
      <td><a style="color:red" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">×</a><a style="color:green" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">✓</a></td>
    </tr>
    <tr>
      <td>Pytest (macos)</td>
      <td><a style="color:red" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">×</a><a style="color:green" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">✓</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

## Pull Request (#431)
<table>
  <thead>
    <tr>
      <th>Commit</th>
      <th>Flaky Check</th>
      <th>Runs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">Another Commit</td>
      <td>Pytest (ubuntu)</td>
      <td><a style="color:red" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">×</a><a style="color:green" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">✓</a></td>
    </tr>
    <tr>
      <td>Pytest (macos)</td>
      <td><a style="color:red" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">×</a><a style="color:green" href="https://github.com/treebeardtech/get-flakes/pull/19/checks?check_run_id=2748487234">✓</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>